.wrapper_Login {
  margin: 50px auto 0;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 20px;
  padding: 50px;
  width: fit-content;
}

.mb-2 {
  color: white;
  padding: 10px;
  display: flex;
  background-color: #9c8c7a;
  border-radius: 100px;
  margin-top: 20px;
  min-width: 400px;
  justify-content: center;
  align-items: center;
}
.mb-2 label,
.mb-2 input {
  width: 50%;
}

.mb-2 label {
  font-size: large;
}
.wrapper_Login button {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
}
