.wrapper_LogReg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.button_LogReg {
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  background-color: #460e3a;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: none;
  width: 400px;
}

.button_LogReg:hover {
  background-color: #fbc7ef;
  color: #460e3a;
  font-weight: bold;
  border: none;
}
