* {
  text-decoration: none !important;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #9c8c7a;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logo {
  color: white;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 0 auto;
  font: 200 25px "Montserrat", sans-serif;
  color: white;
}

.userPanel {
  background-color: #9c8c7a;
  color: white;
  position: absolute;
  right: 10px;
  top: 20px;
}

.wrapper_menu {
  background-color: #9c8c7a;
  border-radius: 100px;
}

img {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}

.dropdown_menu ul li:nth-child(1) {
  margin-top: 30px;
}
.dropdown_menu ul li a {
  text-decoration: none;
  color: white;
}
.dropdown_menu ul li a:hover {
  color: black;
}

.dropdown_menu {
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: #9c8c7a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  width: 250px;
  overflow: hidden; /* Ukryj zawartość poza wysokością */
  height: 0; /* Początkowa wysokość */
  transition: height 0.5s ease; /* Animacja zmiany wysokości */
}

.dropdown_menu.inactive {
  height: 0;
}
.dropdown_menu.active {
  height: auto;
}

.menu {
  position: absolute;
  left: 15px;
}
.menu:hover {
  cursor: pointer;
}

.first,
.second,
.third {
  background-color: white;
  width: 30px;
  margin-top: 5px;
  height: 4px;
}
